<!DOCTYPE HTML>
<html>
	<head>
		<title>Collection</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Collection</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					{% if current_user.is_authenticated %}

					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('account') }}">My Account</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>

					{% else %}
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('signup') }}">Sign Up</a></li>
					<li><a href="{{ url_for('login') }}">Login</a></li>
					{% endif %}

				</ul>
			</nav>

    <p>    </p>
    <h3> Your email has been sent! </h3>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename = 'js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename = 'js/util.js') }}"></script>
		<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
		<script src="{{ url_for('static', filename = 'js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename = 'js/jquery.scrollex.min.js') }}"></script>
	</body>
</html>
